<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required />
    <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
      Username is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
      Invalid email address.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
      Password is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" required />
    <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('required')">
      Phone number is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender" required>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
      <mat-option value="other">Other</mat-option>
    </mat-select>
    <mat-error *ngIf="signupForm.get('gender')?.hasError('required')">
      Gender is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="Role" required>
      <mat-option value="Intern">Intern</mat-option>
      <mat-option value="Executive">Executive</mat-option>
      <mat-option value="Teamleader">Teamleader</mat-option>
      <mat-option value="manager">manager</mat-option>
    </mat-select>
    <mat-error *ngIf="signupForm.get('Role')?.hasError('required')">
      Role is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="signupForm.get('dateOfBirth')?.hasError('required')">
      Date of birth is required.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign Up</button>
</form>
