<mat-card class="user-card">
  <div class="cover-image" [ngStyle]="{'background-image': 'url(' + user.coverImage + ')'}"></div>
  <div class="profile-section">
    <img [src]="user.profilePic" alt="Profile Picture" class="profile-pic">
    <h1>{{ user.name }}</h1>
    <p>Contact Number: {{ user.contactNumber }}</p>
    <p>Age: {{ user.age }}</p>
    <p>{{ user.user_role }}</p>
  </div>
  <div class="posts-section">
    <div *ngFor="let post of user.posts">
      <mat-card class="post-card">
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-content>{{ post.content }}</mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
