<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email Field -->
    <mat-form-field appearance="fill">
      <mat-label>username</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        username is required.
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('username')">
        Invalid email address.
      </mat-error>
    </mat-form-field>
  
    <!-- Password Field -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
  
    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
